<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<link rel="stylesheet" href="/css/main.css">

<body>
    </head>


    <!-- header -->
    <section id="header">
        <div class="menu-bar">
            <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
                <a class="navbar-brand ml-5" href="#">JOBBABLE</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mr-5">
                        <%if (user!==undefined) {%>
                        <button class="btn btn-warning importantBtn" id="registerBtn">
                            <a href="/dashboard" class="text-white">
                                GO BACK TO DASHBOARD</a>
                        </button>
                        <%}else {%>
                        <li class="nav-item">
                            <a class="nav-link" href="/login"><img class="nav-img"
                                    src="/images/icons/sign-in-alt-solid.svg"> LOGIN</a>
                        </li>
                        <button class="btn btn-warning importantBtn" id="registerBtn">
                            <a href="/register" class="text-white"><img class="nav-img"
                                    src="/images/icons/key-solid.svg">
                                REGISTER</a>
                        </button>
                        <%} %>

                    </ul>
                </div>
            </nav>
        </div>

        <div class="banner text-center words">
            <h1>Your dream jobs are within reach!</h1>
            <p>Explore jobs in your area</p>
        </div>
    </section>
    <section id="landingForm">
        <form action="/" method="POST">
            <div class="form-group search-job text-center">
                <input name="skill" type="text" class="form-control" placeholder="Search Skills">
                <input name="nameCompany" type="text" class="form-control" placeholder="Company">
                <input name="nameLocation" type="text" class="form-control" placeholder="Location">
                <input type="submit" class="btn btn-primary" value="Search">
            </div>
        </form>
    </section>
    <!-- top recruiters -->
    <section id="recruiters">
        <div class="container">
            <div class="text-center">
                <h2>Who are we:</h2>
                <h3>Jobbable is a website for you to freely post or apply for jobs.
                    Register now to match recruiters like them:</h3>
                <div>
                    <img src="/images/logo/dell.jpg">
                    <img src="/images/logo/netflix.svg">
                    <img src="/images/logo/oracle.svg">
                    <img src="/images/logo/cisco.svg">
                    <img src="/images/logo/Reddit-512.png">
                    <img src="/images/logo/xccelerate_logo.png">
                    <img src="/images/logo/facebook.png">
                    <img src="/images/logo/google.png">
                    <img src="/images/logo/twitter.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <!-- recent jobs -->
    <section id="jobs">
        <div class="container">
            <h5>RECENT JOB UPDATES</h5>
            <% if(jobsInfoArr.length >0) { %>
            <% for (let jobs of jobsInfoArr){ %>
            <div class="company-details" data-aos="fade-right">
                <div class="job-update">
                    <h4>
                        <% if(jobs.company_logo == undefined) {%>
                        <img src="./images/not-available.jpg"><b><%= jobs.title %></b>
                        <%}else {%>
                        <img src=<%= jobs.company_logo %>><b><%= jobs.title %></b>
                        <%} %>
                    </h4>
                    <p><strong>Company : </strong> <%= jobs.company%></p>
                    <p>
                        <button class="scrapeTags" style="<%= jobs.status == false ? 'display:none;' : '' %>">
                            Exclusive to Jobbable

                        </button>
                    </p>
                    <p>
                        <img class="calendarLogo" src='./images/icons/calendar-alt-solid.svg' alt="">
                        <%= jobs.created_at %>
                    </p>
                    <p>
                        <strong>Job type : </strong><%= jobs.job_type %>
                    </p>
                    <p>
                        <strong>Location :</strong><%= jobs.location %>
                    </p>
                    <p class="how_to_apply">
                        <strong>How to Apply:</strong> <%= jobs.how_to_apply%>
                    </p>

                </div>
                <div class="apply-btn">
                    <%if (user!==undefined) {%>
                    <% if(user.status == 'employee') { %>
                    <form action="/apply/loggedin" method="POST">
                        <input type="hidden" name="applyButton" value="<%= jobs.id %>"></input>
                        <input type="hidden" name="howToApply" value="<%=jobs.how_to_apply%>"></input>
                        <button class="btn btn-primary" type="submit" value='apply'>Apply</button>
                    </form>
                    <form action="/addBookmark" method="post">
                        <input type="hidden" name="bookmarkButton" value="<%= jobs.id %>"></input>
                        <button class="btn btn-primary" type="submit" value='apply'>Add to bookmarks</button>
                    </form>
                    <%}%>
                    <%} %>
                </div>
            </div>
            <% } %>
            <% } else { %>
            <h1>No jobs found!</h1>
            <% } %>
        </div>
    </section>

    <section id="footer" class="text-center">
        <h1 class="footer-logo">JOBBABLE</h1>
        <div class="navigation">
            <p>Navigation</p>
            <ul class="navigation-links">
                <li><a href="#">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Sign-up</a></li>
            </ul>
        </div>
    </section>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"
        integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ=="
        crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <%- include('./includes/end.ejs') %>