<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/user-dashboard.css">
</head>

<body>
    <div class="container">
        <nav class="navbar">
            <div class="nav_icon" onclick="toggleSidebar()">
                <i class="fa fa-bars"></i>
            </div>
            <div class="navbar__left">
            </div>
            <div class="navbar__right">
            </div>
        </nav>

        <main>
            <div class="main__container">
                <div class="main__title">
                    <img src="/images/hello.svg">
                    <div class="main__greeting">
                        <h1>Hello</h1>
                        <p>Apply History</p>
                    </div>
                </div>

                <div class="main__cards">
                    <div class="wrap">
                        <div class="search">
                           <input type="text" class="searchTerm" placeholder="Type in skills">
                           <button type="submit" class="searchButton">
                             <i class="fa fa-search"></i>
                          </button>
                        </div>
                     </div>
                </div>

               

                <div class="charts">
                    <h1><%= pageHeader%></h1>

                    <% for (let company of companies){ %>  
                    <div class="charts__left">
                        <div class="charts__left__title">
                            <div>
                                <h1><%= company.title%></h1>
                                <p>Company: <%= company.company%></p>
                                <p>Location: <%= company.location%></p>
                                <p>Skills:</p>
                            </div>
                            <i class="fas fa-user-friends"></i>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
            <ul class="page-link text-center">
                <li class="left-arrow"><a href="">&#8592;</a></li>
                <li class="active"><a href="/dashboard/1">1</a></li>
                <li><a href="/dashboard/2">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li><a href="">5</a></li>
                <li class="right-arrow"><a href=""> &#8594;</a></li>
            </ul>
        </main>

        <%- include('../includes/portal_nav.ejs') %>
        

    </div>
    
</body>

</html>

<script src="/js/user-dashboard.js"></script>
