<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user-dashboard.css">
    <title>Profiles</title>
<link rel="stylesheet" href="/css/user-dashboard.css">
</head>

<body>
    <div class="container">
        <nav class="navbar">
            <div class="nav_icon" onclick="toggleSidebar()">
                <i class="fa fa-bars"></i>
            </div>
            <div class="navbar__left">
            </div>
            <div class="navbar__right">
            </div>
        </nav>

        <main>
            <div class="main__container">
                <div class="main__title">
                    <img src="/images/hello.svg">
                    <div class="main__greeting">
                        <h1>Hello <%= username %></h1>
                        <p>Profile page</p>
                    </div>
                </div>

                <div class="charts">
                    <h1>
                        <%= pageHeader%>
                    </h1>

                    <div class="charts__left">
                        <div class="charts__left__title">
                            <div>
                                <form action="/profile" method="POST">
                                    <select name="profileSelect" id="profileSelect">
                                        <option value="">Select</option>
                                        <option value="1">HTML</option>
                                        <option value="2">CSS</option>
                                        <option value="3">Javascript</option>
                                        <option value="4">Python</option>
                                        <option value="5">Front end</option>
                                        <option value="6">Back end</option>
                                        <option value="7">NodeJS</option>
                                        <option value="8">React</option>
                                        <option value="9">Data</option>
                                        <option value="10">Engineer</option>
                                        <option value="11">Web Dev</option>
                                        <option value="12">AWS</option>
                                        <option value="13">Ruby</option>
                                        <option value="14">Mobile</option>
                                        <option value="15">Senior</option>
                                        <option value="16">Junior</option>
                                        <option value="17">Java</option>
                                        <option value="18">C#</option>
                                        <option value="19">Django</option>
                                        <option value="20">Fintech</option>
                                        <option value="21">SQL</option>
                                        <option value="22">Typescript</option>
                                        <option value="23">MongoDB</option>
                                        <option value="24">MySQL</option>
                                        <option value="25">C#</option>
                                        <option value="26">Dev Ops</option>
                                        <option value="27">Machine Learning</option>
                                        <option value="28">AI</option>
                                        <option value="29">VueJS</option>
                                        <option value="30">C++</option>
                                        <option value="31">Swift</option>
                                        <option value="32">.Net</option>
                                        <option value="33">PHP</option>
                                    </select>

                                    <button type="submit"> add skills</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <% if(skilltags.length > 0){ %>
                        <% for(let st of skilltags) { %>
                            <div>
                                <span><%= st.skilltag_name %></span>
                                <form action="/profile" menthod="post">
                                    <button class="btn" type="submit">Delete</button>
                                    <input type="hidden" name="delete" value="<%= st.id %>"></input>
                                </form>
                            </div>
                        <% } %>
                    <% } else { %>
                        <h1> Add some skills!</h1>
                    <% } %>

                </div>
            </div>
        </main>

        <%- include('../includes/portal_nav-employees.ejs') %>


                </div>

</body>

</html>

<script src="/js/user-dashboard.js"></script>
