<%- include('./../includes/portal-head.ejs') %>
    </head>
<link rel="stylesheet" href="/css/user-dashboard.css">
<body>
    
<div class="container">
        <nav class="navbar">
            <div class="nav_icon" onclick="toggleSidebar()">
                <i class="fa fa-bars"></i>
            </div>
            <div class="navbar__left">
            </div>
            <div class="navbar__right">
            </div>
        </nav>

        <main>
            <div class="main__container">
                <div class="main__title">
                    <img src="/images/hello.svg">   
                    <div class="main__greeting">
                        <h1>Hello <%= username %></h1>
                        <p>Welcome to your dashboard, </p>
                    </div>
                </div>
                <div class="charts">
                    <% for (let company of companies){ %>  
                    <div class="charts__left">
                        <div class="charts__left__title">
                            <div>
                                <h1><%= company.title%></h1>
                                <p>Company: <%= company.company%></p>
                                <p>Location: <%= company.location%></p>
                                <p>Skills:</p>
                            </div>
                            <i class="fas fa-user-friends"></i>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
            <div class="text-center">
                <ul class="page-link text-center">
                    <li class="left-arrow"><a href="/dashboard/<%= cur_page <= 1 ? 1 : parseInt(cur_page)-1 %>">&#8592;</a></li>
                    <!--class="active"
                    <% for (let i = 1; i <= no_of_page; i++ ) { %>
                    <li class="<%= cur_page == i ? 'active':'' %>" ><a href="/dashboard/<%= i %>"><%= i %></a></li>
                    <% } %>-->
                    <li>
                        <select onchange="window.location='/dashboard/'+this.value">
                            <% for (let i = 1; i <= no_of_page; i++ ) { %>
                                <option value="<%= i %>" <%= cur_page == i ? 'selected':'' %>><%= i %></option>
                            <% } %>
                        </select>
                    </li>
                    <li class="right-arrow"><a href="/dashboard/<%= cur_page >= no_of_page ? cur_page : parseInt(cur_page)+1 %>"> &#8594;</a></li>
                </ul>
            </div>

            
        </main>
        <%- include('./../includes/portal_nav-employees.ejs') %>
        

            </div>
        </div>
    </div>
    

<script src="/js/user-dashboard.js"></script>
